* {
    box-sizing: border-box;
    margin: 0;
}

/* header css */

.title,
.links {
    text-align: center;
    color: black;
    padding: 0;
    margin: 0.5rem;
}

a {
    display: inline;
    color: black;
    text-decoration: none;
}

.links a {
    padding: 0 1rem;
}

a:hover {
    text-decoration-line: underline;
}

header {
    margin: 1rem;
}

/* body css */

body {
    margin: 0 auto;
    max-width: 80%;
    padding: 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.box{
    min-width: 500px;
    max-width: 400px;
    margin:  0 auto;
}

.skillList li{
    display: inline;
}

/* .module {
    display: block;
    align-items: center;
    justify-content: center;
    height: 200px;
    overflow: hidden;
}

.module p,
.module h6,
.module img,
.module a {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    vertical-align: top;
}

.module p,
.module h6 {
    margin: 1rem;
}

.module img {
    border: 1px black solid;
} */

/* If Grid is supported, remove the margin we set for the fallback */
/* @supports (display: grid) {
    .module {
        margin: 0;
    }
} */